<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-molecule-spinner-veil/cells-molecule-spinner-veil.html">


<dom-module id="profile-dm">

  <template>
    <cells-generic-dp
      id="profileDP"
      host="http://localhost:3000"
      path= ""
      method=""
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
    <cells-generic-dp
      id="accountsDP"
      host="http://localhost:3000"
      path= ""
      method=""
      on-request-success="_onRequestAccountsOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
    <cells-generic-dp
      id="transactionsDP"
      host="http://localhost:3000"
      path= "apibank/v1/transactions"
      method="GET"
      on-request-success="_onRequestTransactionsOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
    <cells-generic-dp
      id="logoutDP"
      host="http://localhost:3000"
      path= ""
      method="POST"
      on-request-success="_onRequestLogoutOk"
      on-request-error="_onRequesLogoutError">
    </cells-generic-dp>
    <cells-generic-dp
      id="operationDP"
      host="http://localhost:3000"
      path= "apibank/v1/transactions/"
      method="POST"
      on-request-success="_onRequestOperationOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {
      // Define the element's API using an ES2015 class
      class ProfileDM extends Polymer.Element {
        static get is() {
          return 'profile-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            userName: {
              type: String
            },
            id: {
              type: Number
            },
            onRequestOk: {
              type: String
            },
            accounts: {
              type: Array,
              value: []
            }
          };
        }

        /* ready() {
          super.ready();

          this.todayNumber = undefined;
        }*/
        navigateTo(e) {
          console.log('evento de navegacion recogido');
          console.log(e);
          if(e=='inicio'){
            this.dispatchEvent(new CustomEvent('nav-to-profile'));
          }
          if(e=='operaciones'){
            this.dispatchEvent(new CustomEvent('nav-to-operations',{detail: this.accounts}));
          }
          if(e=='logout'){
            const data = {
              'id': this.id
            };
            this.dispatchEvent(new CustomEvent('nav-to-logout',{detail: data}));
          }
          if(e=='back'){
            this.dispatchEvent(new Event('nav-to-home'));
          }
          if(e=='cambioDivisa'){
            this.dispatchEvent(new Event('nav-to-divisa'));
          }
        }

        doLogout(evt) {
          console.log('doLogout');
          console.log(evt.id);
          this.$.logoutDP.path = 'apibank/v1/logout/' + evt.id;
          this.$.logoutDP.generateRequest();
          this.dispatchEvent(new Event('logout-request-start'));
        }

        loadUser(evt) {
          console.log('loadUSer');
          console.log(evt);
          this.id = evt.id;
          console.log(this.id);
          this.$.profileDP.path = 'apibank/v1/users/' + evt.id;
          console.log(this.$.profileDP.path);
          this.$.profileDP.method = 'GET';
          this.$.profileDP.generateRequest();
          this.dispatchEvent(new Event('loadUser-request-start'));

        }
        getTransactions(evt) {
          console.log('getTransactions');
          console.log(evt.detail.account);
          const _head = {
            'iban':evt.detail.account.id
          };
          this.$.transactionsDP.headers = _head;
          console.log(this.$.transactionsDP.headers);
          this.$.transactionsDP.generateRequest();
          this.dispatchEvent(new Event('getTransactions-request-start'));
        }
        getAccountsById() {
          console.log('getAccountsbyid');
          this.$.accountsDP.path = 'apibank/v1/accounts/' + this.id;
          console.log(this.$.accountsDP.path);
          this.$.accountsDP.method = 'GET';
          this.$.accountsDP.generateRequest();
          this.dispatchEvent(new Event('accounts-request-start'));
        }

        doPostRequestOperation(evt){
          console.log('doPostRequestOperation');
          this.$.operationDP.body = JSON.stringify(evt);
          console.log(evt);
          this.$.operationDP.generateRequest();
          this.dispatchEvent(new Event('operation-request-start'));

        }
        createNewAccount(e) {
          console.log('_createNewAccount');
          console.log(e);
          this.$.accountsDP.path = 'apibank/v1/accounts/'+ e.id;
          this.$.accountsDP.method ='POST';
          this.$.accountsDP.generateRequest();
        }

        _onRequestOk(evt) {
          console.log('_onRequestOK_profile');
          console.log(evt);
          const data = evt.detail;
          this.dispatchEvent(new CustomEvent('profile-request-ok', {detail: data}));
        }
        _onRequestAccountsOk(evt) {
          console.log('_onRequestOK_Account');
          console.log(evt);
          if('msg' in evt.detail){
            this.getAccountsById();
          }else{
            this.accounts = evt.detail;
          const data = evt.detail;
          this.dispatchEvent(new CustomEvent('account-request-ok', {detail: evt}));
          }
        }

        _onRequestLogoutOk(evt) {
          console.log('_onRequestOK_logout');
          console.log(evt);
          this.dispatchEvent(new Event('logout-request-ok'));
        }

        _onRequestTransactionsOk(evt) {
          console.log('_onRequestOK_transactions');
          console.log(evt);
          this.dispatchEvent(new CustomEvent('getTransactions-request-ok',{detail:evt.detail}));
        }

        _onRequestOperationOk(evt){
          console.log('_onRequestOK_operation');
          console.log(evt);
          this.dispatchEvent(new CustomEvent('operation-request-ok',{detail:evt.detail}));
        
        }

        _onRequestError(err) {
          console.log('_onRequestError');
          this.dispatchEvent(new Event('app-request-error'));
        }
        _onRequesLogoutError(err){
          console.log('onRequestLogOutError');
          const data = {
            'id':this.id
          };
          this.dispatchEvent(new Event('logout-request-error'));
        }
        
      }

      // Register the custom element with the browser
      customElements.define(ProfileDM.is, ProfileDM);
    }
  </script>
</dom-module>
