<link rel="import" href="../../../components/cells-st-link/cells-st-link.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/cells-select/cells-select.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../../components/cells-button-toolbar/cells-button-toolbar.html">

<dom-module id="operations-page">

    <template >
      <style>
        :host {
          display: block;
        }
      </style>
         <cells-button-toolbar tools="[[tools_nav]]"></cells-button-toolbar>
        <form label= "Seleccione la operación a realizar">
        <cells-select id="iban" 
        label="Iban" 
        right-icon="coronita:unfold" 
        placeholder="Cuenta****"
        selected-option="{{selectedOptionAccount}}"
        options='{{optionsAccounts}}'>
        
        </cells-select>
        <cells-select id="tipoOp" 
        label="Tipo operación" 
        right-icon="coronita:unfold" 
        placeholder=""
        selected-option="{{selectedOptionOp}}"
        options='[{"label":"Ingreso"},{"label":"Retirada"}]'>
        </cells-select>
        
        <cells-molecule-input name="amount_data"
         label="Importe" 
         type="Number"
         value={{amount}}>
        </cells-molecule-input>
      </form>
        <cells-st-button disable=true class ="full content right">
          <button class="btn--primary btn--m btn--full btn-login" 
          disabled$="[[disabledSubmit]]" on-click="_formSubmit">Enviar</button>
        </cells-st-button>
     
      
    
     
    </template>
  
    <script>
      class OperationsPage extends Polymer.Element {
        static get is() {
          return 'operations-page';
        }
        static get properties() {
          return {
            amount: {
              type: Number,
              notify: true
            },
            selectedOptionAccount: {
              type: String,
              notify: true,
              observer:'_showdata'
            },
            selectedOptionOp: {
              type: String,
              notify: true,
              observer:'_showdata'
            },
            optionsAccounts: {
              type: Array
            },
            disabledSubmit: {
              type:Boolean,
              computed: '_isDisabledButton(amount,selectedOptionAccount,selectedOptionOp)'

            },
            tools_nav: {
              type: Array,
              value: [
                {
                  iconCode: 'coronita:back',
                  id: 'back',
                  isActive: true,
                  iconSize: 'icon-size-24'
                }                
              ]
            }
          };
        }
        ready(){
          super.ready();
          console.log('selectop: '+this.selectedOptionAccount);
          console.log('selectoptions: '+this.selectedOptionOp);
          console.log('amount: '+this.amount);
          console.log(this.disabledSubmit);
        }
        _showdata(e){
          console.log(this.selectedOptionAccount);
          console.log(this.selectedOptionOp);
          console.log(this.disabledSubmit);
        }
        resetProperties() {
          this.amount=0;
        }
        loadAccounts(e){
          console.log('loadAccounts');
          const len = e.length;
          const accounts = e.slice(0,len);
          var data=[];
          for (let account of accounts) {
            console.log(account);
            data.push(this._buildAccount(account));
            }
            this.optionsAccounts = data;
            console.log(this.optionsAccounts);
        }

        _buildAccount(account) {
          var accountitem = {
            label: account.IBAN
          };
          console.log(accountitem);
          return (accountitem);
        }	
        _isDisabledButton() {
          console.log('_isDisabledButton');
          if(this.amount.value!=0
          &&this.selectedOptionAccount!=null
          &&this.selectedOptionOp!=null){
            console.log('_isDisabledButton = false');
            return false;
            console.log(this.disabledSubmit);
          }else{
            console.log('_isDisabledButton = true');
            console.log(this.disabledSubmit);
            return true;
          }
        }	
        _formSubmit(){
          console.log('_formSubmit');
          var date = new Date();
          var currentDate = date.getDate() + "/" + (date.getMonth() +1) + "/" + date.getFullYear();
          console.log(currentDate);
          var data = {
            'iban': this.selectedOptionAccount.label,
            'tipo_op': this.selectedOptionOp.label,
            'importe': this.amount,
            'fecha_op': currentDate
          }
          this.dispatchEvent(new CustomEvent('operation-data',{detail: data}));
        }
      }

      customElements.define(OperationsPage.is, OperationsPage);
      </script>
  
  </dom-module>