<link rel="import" href="../../components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../components/polymer/polymer-element.html">
<link rel="import" href="../../components/cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../components/cells-switch/cells-switch.html">
<link rel="import" href="../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../components/cells-basic-login/cells-basic-login-styles.html">

<dom-module id="new-user-page">
  <template>
    <style include="cells-basic-login-styles cells-basic-login-shared-styles"></style>
    <div class="form">
      <form id="form" autocomplete="on" method="post" novalidate>
          <cells-molecule-input id="user-name" class="input--base" name="name" label="Nombre" value="{{username}}" ></cells-molecule-input>
          <cells-molecule-input id="user-lastname1" class="input--base" name="lastname1" label="Primer apellido" value="{{lastname1}}" ></cells-molecule-input>
          <cells-molecule-input id="user-lastname2" class="input--base" name="lastname2" label="Segundo apellido" value="{{lastname2}}" ></cells-molecule-input>
          <cells-molecule-input id="user-email" class="input--base" name="email" label="email example@dominio.com" value="{{email}}" ></cells-molecule-input>
          <cells-molecule-input id="user-password" name="password" label="Contraseña" type="password"value="{{password}}"></cells-molecule-input>
        </div>
        <cells-st-button class="full">
          <button class="btn--primary btn--m btn--full btn-login" disabled$="[[disabledSubmit]]" on-click="_formSubmit">Enviar</button>
        </cells-st-button>
      </form>
    </div>
  </template>
  <script>
    class NewUserPage extends Polymer.Element {
      static get is() {
        return 'new-user-page';
      }
      static get properties() {
        return {
          'username': {
            type: String
          },
          'lastname1': {
            type: String
          },
          'lastname2': {
            type: String
          },
          'password': {
            type: String
          },
          'disableSubmit': {
            type: Boolean,
            value: false
          }
        };
      }
      _formSubmit() {
        console.log('_FormSubmit');
        this.dispatchEvent(new CustomEvent('button-new-user-clicked', {
          bubbles: true,
          composed: true,
          detail: {
            username: this.username,
            lastname1: this.lastname1,
            lastname2: this.lastname2,
            email: this.email,
            password: this.password
          }
        }));
      }
    }
    customElements.define(NewUserPage.is, NewUserPage);
    </script>
</dom-module>