<link rel="import" href="../../../components/cells-basic-login/cells-basic-login.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../../components/banking-icons/banking-icons.html">



<dom-module id="login-page">

    <template >
      <style>
        :host {
          display: block;
        };
       
      </style>
      <cells-basic-login
      username={{userName}}
      password={{userPassword}}  
      icon-checked="coronita:checkmark" 
      icon-unchecked="coronita:close"
      icon-toggle="coronita:menu"
      disabledValidation = true>
      </cells-basic-login>
      <cells-st-button>

      </cells-st-button>
      
    </template>
  
    <script>
      class LoginPage extends Polymer.Element {
        static get is() {
          return 'login-page';
        }
        static get properties() {
          return {
            userName: {
              type: String
            },
            userPassword: {
              type: String
            },
            islogged: {
              type: Boolean
            }
          };
        }

        isLogged(evt) {
          console.log('isLogged');
          this.isLogged = true;
          this.dispatchEvent(new CustomEvent('login-user-logged', {detail:evt}));
        }
      }

      customElements.define(LoginPage.is, LoginPage);
      </script>
  
  </dom-module>