<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">




<dom-module id="app-header-ui">

    <template >
      <style>
        :host {
          display: block;
        }
      </style>
      <cells-component-app-header
      text="Hola [[text]]"
      icon-left="coronita:menu"
      icon-left-label="menu"
      icon-right="coronita:on"
      icon-right-label="Logout"
      on-click="toggleMenu">
    </cells-component-app-header>
    <cells-generic-dp
        id='sessionDP'
        host=''
        path=''
        method=''
        on-request-success=""
        on-request-error="">
      </cells-generic-dp>
    </template>
  
    <script>
      class AppHeaderUi extends Polymer.Element {
        static get is() {
          return 'app-header-ui';
        }
        static get properties() {
          return {
            text: {
              type: String,
            }
          };
        }

        // ready() {
        //   super.ready();
        //   console.log('ready');
        //   this.text = 'Hola Nuevo Usuario';
        //   console.log(this.text);
        // }
        setName(evt) {
          console.log('setName');
          this.text = evt.username;
        }
        toggleMenu(e) {
          const evtName = e.path[0].className;
          console.log(evtName);
          if (evtName.includes('right')) {
            this._doLogOut();
          }
        }
        _doLogOut() {
          console.log('doLogout');
        }
      }

      customElements.define(AppHeaderUi.is, AppHeaderUi);
      </script>
  
  </dom-module>