<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-molecule-spinner-veil/cells-molecule-spinner-veil.html">


<dom-module id="login-dm">

  <template>
    <cells-generic-dp
      id="loginDP"
      host="http://localhost:3000"
      path= ""
      method="POST"
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {
      // Define the element's API using an ES2015 class
      class LoginDM extends Polymer.Element {
        static get is() {
          return 'login-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            userName: {
              type: String
            },
            password: {
              type: String
            },
            userId: {
              type: Number
            }
          };
        }

        /* ready() {
          super.ready();

          this.todayNumber = undefined;
        }*/

        getInfo(evt) {
          console.log('getInfo');
          console.log('se ha pulsado el botón y hemos llegado al login DM');
          console.log(evt.user);
          console.log(evt.password);
        }

        doLogin(evt, type = 'login-request-start') {
          console.log('doLogin');
          const _body = {
            'email': evt.user,
            'password': evt.password
          };
          console.log(_body);
          this.$.loginDP.body = JSON.stringify(_body);
          this.$.loginDP.path = 'apibank/v1/login';
          this.$.loginDP.generateRequest();
          this.dispatchEvent(new Event(type));

        }

        // doLogOut() {
        //   console.log('doLogout');
        //   console.log(this.id);
        //   this.$.loginDP.path = 'apibank/v1/logout/' + this.id;
        //   this.$.loginDP.generateRequest();
        //   this.dispatchEvent(new Event('login-request-start'));
        // }

        _onRequestOk(evt) {
          console.log('_onRequestOK');
          this.userId = evt.detail.id;
          console.log(this.userId)
          console.log(evt.detail);
          const data = evt.detail;
          this.dispatchEvent(new CustomEvent('login-request-ok', {detail: data}));
        }

        _onRequestError(err) {
          console.log('_onRequestError');

          //console.log(err);
          const data = {
            type: 'error',
            text: 'Usuario incorrecto',
            _icon: 'banking:M01',
            timeout: '3000',
            noCancelOnOutsideClick: true,
            isStatic: false
          };
          const dataJson = JSON.stringify(data);
          console.log(dataJson);

          // BE AWARE! If you are not sending a payload, you can use 'Event' instead of 'CustomEvent'
          // resource: https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events
          this.dispatchEvent(new CustomEvent('login-request-error', {detail: data}));
        }

      
      }
      

      // Register the custom element with the browser
      customElements.define(LoginDM.is, LoginDM);
    }
  </script>
</dom-module>
