<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">

<dom-module id="button-newuser">
  <template>
    <style>
      cells-st-button {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
      }
      div.center {
             text-align: center;
          }
    </style>

    <div class="center">
        <cells-st-button id="newUserBtn" on-click="_newUserClicked" class="content-centered">
            <button>Nuevo Cliente</button>
          </cells-st-button>
    </div>
   

    
  </template>

  <script>
    {
      class ButtonNewUser extends Polymer.Element {
        static get is() {
          return 'button-newuser';
        }

        static get properties() {
          return {
          };
        }

        _newUserClicked() {
          console.log('boton nuevo usuario clikado');
          this.dispatchEvent(new Event('button-newuser-clicked'));
        }
      }

      customElements.define(ButtonNewUser.is, ButtonNewUser);
    }
  </script>
</dom-module>
