<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">



<dom-module id="currency-exchange-dm">

  <template>
    <cells-generic-dp
      id="currencyDP"
      host="http://localhost:3000"
      path= "apibank/v1/currencyExchange"
      method="GET"
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {
      // Define the element's API using an ES2015 class
      class CurrencyExchangeDM extends Polymer.Element {
        static get is() {
          return 'currency-exchange-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            
          };
        }

        
        doCurrencyExchangeRequest() {
            console.log('doCurrencyExchangeRequest');
            this.$.currencyDP.generateRequest();
            this.dispatchEvent(new Event('exchange-request-start'));
        }

       
        _onRequestOk(evt) {
          console.log('_onRequestOK_currencyExchange');
          console.log(evt.detail);
          const data = evt.detail;
          this.dispatchEvent(new CustomEvent('currency-request-ok', {detail: data}));
        }

        _onRequestError(err) {
          console.log('_onRequestError_currencyExchange');
          this.dispatchEvent(new Event('currency-request-error'));
        }

      
      }
      

      // Register the custom element with the browser
      customElements.define(CurrencyExchangeDM.is, CurrencyExchangeDM);
    }
  </script>
</dom-module>
