<link rel="import" href="../../../components/cells-icon-message/cells-icon-message.html">




<dom-module id="error-page">

    <template >
      <style>
        :host {
          display: block;
        }
      </style>
      <cells-icon-message
      type="error",
      icon="coronita:error",
      icon-label=null,
      icon-size=30,
      message= "[[message]]">
      </cells-icon-message>
    </template>
  
    <script>
      class ErrorPage extends Polymer.Element {
        static get is() {
          return 'error-page';
        }
        static get properties() {
          return {
            message: {
              type: String
            }
          };
        }

        showError() {
          console.log('showError'); 
          this.message='Ocurrio un error'
        }

       
      }

      customElements.define(ErrorPage.is, ErrorPage);
      </script>
  
  </dom-module>