<link rel="import" href="../../../components/cells-icon-message/cells-icon-message.html">




<dom-module id="logout-page">

    <template >
      <style>
        :host {
          display: block;
        }
      </style>
      <cells-icon-message
      type="{{type}}",
      icon="{{icon}}",
      icon-label=null,
      icon-size=30,
      message= "{{message}}">
      </cells-icon-message>
    </template>
  
    <script>
      class LogoutPage extends Polymer.Element {
        static get is() {
          return 'logout-page';
        }
        static get properties() {
          return {
            type: {
              type: String
            },
            icon: {
              type: String
            },
            message: {
              type: String
            }
          };
        }

        isLoggedOut() {
          console.log('isLoggedOut');
          this.type='success';
          this.icon='coronita:correct';
          this.message='Hasta pronto!!'
        }

        logOutError(){
            console.log('logOutError');
            this.detail="error";
            this.icon='coronita:error';
            this.message='Lo sentimos, hubo un error'
        }
      }

      customElements.define(LogoutPage.is, LogoutPage);
      </script>
  
  </dom-module>