<link rel="import" href="../../../components/cells-product-summary/cells-product-summary.html">
<link rel="import" href="../../../components/cells-st-link/cells-st-link.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-button-toolbar/cells-button-toolbar.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">

<dom-module id="profile-page">

    <template >
      <style>
        :host {
          display: block;
        }
        div.center {
             text-align: center;
          }
         p {
           font: 30 px;
         }
         span{
           font-weight: bold;
         } 
      </style>
        
        <cells-button-toolbar tools="[[tools_nav]]"></cells-button-toolbar>
      <div class = "center">
       <p>Hola <span>[[userName]]</span>!</p>
       <h5>Crea una cuenta nueva es gratis!</h5>
      </div>
       <cells-st-button class = "content-left">
        <button class="composed" on-click="_CreateAccount">Crear cuenta</button>
           
       </cells-st-button>
      
        <template is="dom-repeat" items="{{accounts}}" as="account">
          <cells-product-summary
            heading="{{account.id}}"
            img-src="resources/images/account.png"
            main-items="{{account.items}}"
            more-info="{{_getTransactions(account)}}"
            >
          </cells-product-summary>
      </template>
    
     
    </template>
  
    <script>
      class ProfilePage extends Polymer.Element {
        static get is() {
          return 'profile-page';
        }
        static get properties() {
          return {
            userName: {
              type: String
            },
            id: {
              type: Number
            },
            accounts: {
              type: Array,
              value: []
            },
            tools_nav: {
              type: Array,
              value: [
                {
                  iconCode: 'coronita:on',
                  id: 'logout',
                  isActive: true
                },
                {
                  iconCode: 'coronita:home',
                  id: 'inicio',
                  isActive: true
                },
                {
                  iconCode: 'coronita:cash',
                  id: 'operaciones',
                  isActive: true
                },
                {
                  iconCode: 'coronita:currencyexchange',
                  id: 'cambioDivisa',
                  isActive: true
                }
              ]
            }
            
          };
        }
        setProperties(evt) {
          console.log('setProperties');
          this.userName = evt.username;
          this.id = evt.id;
          const data = evt.detail;
          this.dispatchEvent(new Event('properties-setted'));
        }
        showAccounts(evt) {
          console.log('showAccounts');

          //this.accounts = evt;
          console.log(evt);

          // console.log(evt);
          // console.log('array');
          // console.log(this.accounts);
          // console.log(this.accounts[0].Balance);
          // console.log(this.accounts[0].IBAN);
          for (let account of evt.detail) {
            console.log(account);
            this.push('accounts', this._buildAccount(account));
          }
        }
        _buildAccount(account) {
          var accountitem = {
            'id': account.IBAN,
            'name': account.IBAN,
            'items': [ {
              'key': 'Disponible',
              'value': [ {
                'amount': account.Balance,
                'currencyCode': 'EUR'
              } ]
            } ]
          };
    return accountitem;
  }
        _getTransactions(account) {
          console.log('_getTransactions');
          return {
            detail: {
              account:account
            }
          }
        }
        _CreateAccount(){
          const data= {
            'id':this.id
          };
        this.dispatchEvent(new CustomEvent('request-create-newAccount',{detail:data}));
       }
      }
      customElements.define(ProfilePage.is, ProfilePage);
      </script>
  
  </dom-module>