<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-molecule-spinner-veil/cells-molecule-spinner-veil.html">


<dom-module id="new-user-dm">

  <template>
    <cells-generic-dp
      id="newUserDP"
      host="http://localhost:3000"
      path= ""
      method="POST"
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {
      // Define the element's API using an ES2015 class
      class NewUserDM extends Polymer.Element {
        static get is() {
          return 'new-user-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            id: {
              type: Number,
              observer:'_createNewAccount'
            }
          };
        }
        getInfo(evt) {
          console.log('getInfo');
          console.log('se ha pulsado el botón y hemos llegado al login DM');
          console.log(evt);
          console.log(evt.password);
        }

        createNewUser(evt) {
          console.log('createNewUser');
          console.log(evt);
          const _body = {
            'username': evt.username,
            'lastname1': evt.lastname1,
            'lastname2': evt.lastname2,
            'email': evt.email,
            'password': evt.password
          };
          console.log('Object para enviar:');
          console.log(_body);
          this.$.newUserDP.path = 'apibank/v1/users'
          this.$.newUserDP.body = JSON.stringify(_body);
          this.$.newUserDP.generateRequest();

          // BE AWARE! If you are not sending a payload, you can use 'Event' instead of 'CustomEvent'
          // resource: https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events
          this.dispatchEvent(new Event('new-user-request-start'));

        }

        _onRequestOk(evt) {
          console.log('id property');
          console.log(this.id);
          console.log('evento recibido');
          console.log(evt)
          if(evt.detail.id){
            console.log('_onRequest_newUser_OK');
            this.id = evt.detail.id;
            console.log(this.id);
          }else {
            console.log('_onRequest_newUser_account_OK');
            console.log(evt.detail);
            this.dispatchEvent(new CustomEvent('new-user-request-ok',{detail:{'id':this.id}}));
          }
          
          
        }

        _onRequestError(err) {
          console.log('_onRequestError');
          this.dispatchEvent(new Event('new-user-request-error'));
        }
        
        _createNewAccount() {
          console.log('createNewAccount');
          this.$.newUserDP.path = 'apibank/v1/accounts/'+ this.id;
          this.$.newUserDP.generateRequest();
        }
      }

        

      // Register the custom element with the browser
      customElements.define(NewUserDM.is, NewUserDM);
    }
  </script>
</dom-module>
