<link rel="import" href="../../../components/cells-molecule-transaction-list-item/cells-molecule-transaction-list-item.html">
<link rel="import" href="../../../components/cells-button-toolbar/cells-button-toolbar.html">



<dom-module id="currency-exchange-page">
<template>
    <style is="custom-style">
      :host {
        display: block;
        --cells-component-app-header-bg-color: var(--bbva-core-blue, #004481);
      }
     
      
      
    </style>
            <cells-button-toolbar tools="[[tools_nav]]"></cells-button-toolbar>
            <p>Cambio de divisa ofrecido por Currencylayer.com</p>
            <template is="dom-repeat" items="{{currencyExchange}}">
            <div class="primary">
             <div class = "secondary"><span>1</span></div>
             <div class = "secondary"><span>{{item.source}}</span></div>
             <div class = "secondary"><span><iron-icon icon="account"></span></iron-icon></div>
             <div class = "secondary"><span>{{item.targetValue}}</span></div>
             <div class = "secondary"><span>{{item.targetName}}</span></div>
            </div>
            </template>
          
          
      
    </template>
<script>

      class CurrencyExchangePage extends Polymer.Element {
        static get is() {
          return 'currency-exchange-page';
        }
        static get properties() {
          return {
            currencyExchange: {
                type: Array,
                value: []
            },
            tools_nav: {
              type: Array,
              value: [
                {
                  iconCode: 'coronita:back',
                  id: 'back',
                  isActive: true,
                  iconSize: 'icon-size-24'
                }
              ]
            }
          };
        }

        showCurrencyExchangeData(e) {
          console.log('showCurrencyExchangeData');
          console.log(e);
          var data = [];
         
              var cxItem = {
                  'source':'USD',
                  'targetName':'EUR',
                  'targetValue':e.USDEUR
              }
            console.log(cxItem);
            data.push(cxItem);
            var cxItem = {
                  'source':'USD',
                  'targetName':'GBP',
                  'targetValue':e.USDGBP
              }
            console.log(cxItem);
            data.push(cxItem);
          this.currencyExchange = data;
          console.log(this.currencyExchange);
        }
    }

      customElements.define(CurrencyExchangePage.is, CurrencyExchangePage);
      </script>
  
  </dom-module>