<link rel="import" href="../../../components/cells-molecule-transaction-list-item/cells-molecule-transaction-list-item.html">
<link rel="import" href="../../../components/cells-button-toolbar/cells-button-toolbar.html">



<dom-module id="transactions-page">
<template>
    <style is="custom-style">
      :host {
          --cells-component-app-header-bg-color: var(--bbva-core-blue, #004481)
      }
      .card-button {
        min-height: initial;
        border: 0;
        padding: 0;
        background-color: transparent;
        color: var(--bbva-medium-blue);
      }
    </style>
            <cells-button-toolbar tools="[[tools_nav]]"></cells-button-toolbar>
            <template is="dom-repeat" items="{{transactions}}" as="transaction">
              <cells-molecule-transaction-list-item transaction='{{transaction}}'>
              </cells-molecule-transaction-list-item>
            </template>
          
          
      
    </template>
<script>

      class TransactionPage extends Polymer.Element {
        static get is() {
          return 'transactions-page';
        }
        static get properties() {
          return {
            userName: {
              type: String
            },
            id: {
              type: Number
            },
            transactions: {
              type: Array,
              value: []
            },
            tools_nav: {
              type: Array,
              value: [
                {
                  iconCode: 'coronita:back',
                  id: 'back',
                  isActive: true,
                  iconSize: 'icon-size-24'
                }
              ]
            }
          };
        }

        

        showTransactions(evt) {
          console.log('showTransactions');
          console.log(evt);
          this.transactions=[];

          var transactions=[];
          // transactions.splice(0,transactions.length);
          const len = evt.length;
          transactions = evt.slice(0,len);
          for (let transaction of transactions) {
            console.log(transaction);
            this.push('transactions', this._buildTransaction(transaction));
          }
        }
        _buildTransaction(transaction) {
          var transactiontitem = {
            'id': transaction.iban,
            'localAmount': {
            'amount': transaction.importe,
            'currency': 'EUR'
              },
            'originAmount': {
              'amount': -80000,
              'currency': "CLP"
            },
            'moneyFlow': {
              'id': 'EXPENSE',
              'name': 'Expense'
            },
            'concept': transaction.tipo_op,
            'transactionType': {
              'id': 'PURCHASE',
              'name': 'Compra'
            },
            'operationDate': transaction.fecha_op,
            'accountedDate': '2016-07-16T13:33:00Z',
            'financingType': {
              'id': 'NON_FINANCING',
              'name': 'Non financing'
            },
            'status': {
              'id': 'SETTLED',
              'name': 'Settled'
            },
            'contract': {
              'id': '2001',
              'number': '050400010100001603',
              'numberType': {
                'id': 'LIC',
                'name': 'Local Identification Code'
              },
              'product': {
                'id': 'ACCOUNTS',
                'name': 'Cuentas'
              },
              'alias': 'Cuenta corriente lcred'
            },
            'tags': [
              'Banca'
            ],
            'additionalInformation': [
              {
                'key': 'cells-molecule-transaction-list-item-card',
                'value': '050400010100001603',
                'type': 'musked'
              },
              {
                'key': 'cells-molecule-transaction-list-item-date',
                'value': '2016-07-16T13:33:00Z',
                'type': 'date'
              },
      {
      'type': 'text',
      'value': transaction.tipo_op
      }
    ]
  };


  console.log(transactiontitem);
  return transactiontitem;

  }		
}

      customElements.define(TransactionPage.is, TransactionPage);
      </script>
  
  </dom-module>